DATABASE_NAME={{ postgres_database }}
DATABASE_USER={{ postgres_username }}

APP_PROTOCOL={{ deploy_app_protocol }}
APP_HOST={{ deploy_app_host }}

APP_SECRET={{ deploy_app_secret }}

SMTP_ADDRESS={{ deploy_app_smtp_address }}
SMTP_PORT={{ deploy_app_smtp_port }}
SMTP_DOMAIN={{ deploy_app_smtp_domain }}
SMTP_USERNAME={{ deploy_app_smtp_username }}
SMTP_PASSWORD={{ deploy_app_smtp_password }}
SMTP_ENABLE_STARTTLS_AUTO={{ deploy_app_smtp_enable_starttls_auto }}
