Port 22
Protocol 2

# Logging
SyslogFacility AUTH
LogLevel INFO

# Don't gain privileges until success authentication.
UsePrivilegeSeparation yes

# Reject handshake unless $HOME/.ssh has correct permissions.
StrictModes yes

# Allow key based authentication. Root and password authentication is
# disallowed.
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
AuthorizedKeysFile %h/.ssh/authorized_keys
AllowGroups ssh

# Disallow host based authentication
IgnoreRhosts yes
RhostsRSAAuthentication no
HostbasedAuthentication no

# Death of the connection or crash of one of the machines will be
# properly noticed.
TCPKeepAlive yes

# Quieter shell on login
PrintMotd no
PrintLastLog yes
